.consumption-wrapper {
    display: grid;
    grid-template-columns: 130px repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    padding-top: 10px;
}

.ac36 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ac22 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.dc50 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.kw {
    text-align: center;
    align-self: flex-start;
    padding-top: 5px;
    font-weight: 600;
    font-size: smaller;
}

.text {
    grid-column: 1 / 2;
    word-wrap: break-word;
    font-weight: 550;
    align-self: center;
    font-size: smaller;
}

.daily {
    grid-row: 2 / 3;
}

.weekly {
    grid-row: 3 / 4;
}

.ac36img {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    width: 40%;
}

.ac22img {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    width: 38%;
}

.dc50img {
    grid-column: 4 / 5;
    grid-row: 1 / 1;
    width: 45%;
}

.img {
    display: flex;
    align-self: flex-end;
    justify-self: center;
}

.ac36daily {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ac36weekly {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}

.ac22daily {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.ac22weekly {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.dc50daily {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.dc50weekly {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.sql-data {
    align-self: center;
    justify-self: center;
    font-size: smaller;
}