.evcalc-wrapper {
    /* padding: 30px 30px 0 40px; */
    min-height: calc(100vh - 110px);
    margin-bottom: 10px;
}

.evcalc-wrapper p {
    margin: 10px 0 3px 0;
}

.evcalc-details-title {
    padding: 30px 20px 20px 20px;
    margin: 0;
    text-align: justify;
}

.calculator {
    margin-top: 20px;
}

.evcalc-text > p {
    padding-top: 15px;
    font-size: normal;
}

.evcalc-text > li {
    margin-left: 45px;
    padding-top: 3px;
    font-size: normal;
}

.titleEV {
    font-weight: 600;
    text-align: center;
    padding-left: 330px;
}

.titleICE {
    font-weight: 600;
    text-align: center;
}

.ev-price {
    width: 150px;
}

.mileage-merged {
    width: 150px;
}

.kW-price {
    width: 150px;
}

.l-price {
    width: 150px;
}

.consumption-ev {
    width: 150px;
}

.consumption-ice {
    width: 150px;
}

.ev-fuel-cost-100km {
    background: none;
    border: 0;
}

.ice-fuel-cost-100km {
    background: none;
    border: 0;
}

.ev-fuel-cost-yearly {
    background: none;
    border: 0;
}

.ice-fuel-cost-yearly {
    background: none;
    border: 0;
}

.saving {
    font-weight: 600;
    background: none;
    border: 0;
}

.timespan {
    font-weight: 600;
    background: none;
    border: 0;
}

.to-center {
    align-self: center;
    justify-self: center;
    font-size: smaller;
}

.evcalc {
    font-size: smaller;
    align-self: center;
    justify-self: left;
    font-weight: 600;
}

textarea {
    height: 25px;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    resize: none;
    white-space: nowrap;
    border-radius: 5px;
    border: 2px #3ba749 solid;
}

@media only screen and (max-width: 991px) {
    .row {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .col {
        text-align: center;
    }
    .row.calculator {
        /* background-color: lightcoral; */
        flex-direction: row;
    }
    .titleEV {
        padding-left: 0;
    }
}
