.forum-page {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0 auto 100px auto;
    height: 100%;
    /* grid-auto-rows: minmax(min-content, max-content); */
    width: 1000px;
    padding: 15px;
}