.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: calc(100% + 185px);
    width: 1000px;
    margin: 0 auto -100px auto;
    padding: 10px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 340px 300px 150px;
    grid-gap: 20px;
}