* {
    margin: 0;
    grid-column: 1 / 4;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: rgb(6, 50, 7);
}

.details-title {
    margin: 10px 0 10px 0;
    font-size: 13px;
    font-size: medium;
}

.details-content {
    font-size: 15px;
    font-size: small;
}

.details-content > p {
    padding-top: 10px;
}

.bullet-points {
    margin-left: 45px;
    padding-top: 3px;
}

.bullet-points > li {
    padding-top: 3px;
}