.footer {
    width: 100%;
    background-color: rgb(250, 251, 248);
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    border-top: 5px  #3ba749 solid;
    position: fixed;
    bottom: 0;
}

.footer-content {
    grid-column: 2 / 3;
    align-self: center;
    text-align: center;
    color: rgb(250, 4, 4);
    font-style: italic;
    padding: 5px;
}

.footer-content > p {
    font-weight: bold;
}