.navbar {
    display: grid;
    grid-template-columns: auto 1000px auto;
    height: 50px;
    position: relative;
    background-color: #EDF5E1;
    /* #5cdb95 8ee4af */
    border-bottom: 5px  #3ba749 solid;
}


.logo {
    grid-column: 2 / 3;
    height: 100%;
}

.buttons {
    position: absolute;
    bottom: 0;
    grid-column: 2 / 3;
    left: 300px;
}

.button {
    width: 170px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    border-left: 1px #3ba749 solid;
    margin: 15px 0 0 0;
}

.button::-moz-focus-inner { /* In Firefox disappears the dotted line around the clicked element */
    border: 0;
}

.forum.button {
    border-right: 1px #3ba749 solid;
}

.button:hover {
    background-color: #3ba749;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}