.post-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    /* grid-auto-rows: minmax(min-content, max-content); */
}

.send-post-wrapper {
    grid-row: 1 / 2;
    height: 250px;
}

.render-post-wrapper {
    grid-row: 2 / 3;
}

.render-post-data-header {
    font-weight: 600;
    border-left: 5px  #3ba749 solid;
    padding-left: 15px;
    height: fit-content;
}
