.subscription-wrapper {
    margin: 10px 0 10px 0;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    justify-self: center;
    color: rgb(6, 50, 7);
}

.subscription {
    display: flex;
    flex-direction: column;
}

.subscription > input {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid rgb(87, 147, 85);
    background: rgb(228, 248, 234);
}

.subscribe-button {
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
    align-self: center;
    font-size: 15px;
    font-weight: normal;
    color: rgb(6, 50, 7);
}

.subscribe-button:hover {
    background-color: #3ba749;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}