.player-wrapper {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    width: 100%;
    align-self: center;
    padding-top: 55px;
}

.player-text {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color: rgb(6, 50, 7);
}

.player {
    border: 1px rgba(128, 149, 129, 0.503) solid;
}