* {
    font-weight: normal;
    box-sizing: border-box;
    font-family: Avenir,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body {
    background-color: rgba(237, 245, 225, 0.333);
  }



.App {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: repeat(2, auto);
    /* background-color: #FEFFFF; */
    background-color: rgba(237, 245, 225, 0.333);
}
