* {
    font-weight: normal;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: rgba(237, 245, 225, 0.333);
  }



.App {
    display: grid;
    grid-template-columns: repeat(8, 1fr);


    background-color: #FEFFFF;
    /* margin: auto; 
    display: flex;
    flex-direction: column; */
}

.footer {
    height: 100px;
    background-color: #EDF5E1;
}